<script>
    $(function() {
    $('#translateMiddle').on('click', function() {
        $.ajax({
            type: "POST",
            url: "/translate-ascii-hex",
            data: JSON.stringify({ asciiText: $('#asciiText').val()}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#hexText').text(data.asciiText)
            },
            error: function (error) {
                console.log(error);
            }
        });
    })
})

</script>

<div class="everythingBox">
    <p>&nbsp;</p>
    <div class="ASCII">
        <div class="labelAndErase">
            <legend><strong>ASCII</strong></legend>
            <button class="eraseBtn" onclick="document.getElementById('asciiText').value = ''">X</button>
        </div>
        <form id="ASCIIMessage" method="POST" action="/translate-ascii-hex">
            <fieldset class="fields">
                <textarea name="asciiTextBox" class="message" id="asciiText" cols="30" rows="10"></textarea>
            </fieldset>
        </form>    
    </div>

    <input class="translateBtn" type="submit" id="translateMiddle" value="Translate">

    <div class="HEX">
        <div class="labelAndErase">
            <legend><strong>Hexadecimal</strong></legend>
            <button class="eraseBtn" onclick="document.getElementById('hexText').value = ''">X</button>
        </div>
        <form id="HEXMessage" method="POST" action="/translate-hex-ascii">
            <fieldset class="fields">
                <textarea class="message" id="hexText" cols="30" rows="10"></textarea>
            </fieldset>      
        </form>    
    </div>
</div>