<div class="everythingBox">
    <p>&nbsp;</p>
    <div class="keyInput">
        <div class="labelAndErase">
            <legend><strong>Key Length</strong></legend>
            <button class="eraseBtn" onclick="document.getElementById('keyInputText').value = ''">X</button>
        </div>
        <form id="keyInputMessage" method="POST" action="/keyInput-message-form">
            <fieldset class="fields">
                <input type="number" class="message" id="keyInputText">
            </fieldset>
        </form>    
    </div>

    <input class="translateBtn" type="submit" id="submitKey" value="Generate Key">

    <div class="keyOutput">
        <div class="labelAndErase">
            <legend><strong>Key Output</strong></legend>
            <button class="eraseBtn" onclick="document.getElementById('keyOutputText').value = ''">X</button>
        </div>
        <form id="keyOutputMessage" method="POST" action="/keyOutput-message-form">
            <fieldset class="fields">
                <textarea class="message" id="keyOutputText" cols="30" rows="10"></textarea>
            </fieldset>      
        </form>    
    </div>
</div>