h1{
    margin-bottom: 0px;
    margin-top: 3%;
}
.header{
    display: block;
    text-align: center;
    color: orange;
    font-size: 48pt;
    margin-bottom: 0px;
}
.navbar{
    display: flex;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: orange;
    font-size: 16pt;
    border-width: 3px;
    border-style: solid;
}
.HEX{
    height: 33%;
}
#HEXMessage{
    height: 100%;
}
.fields{
    display: flex;
    align-items: center;
    padding: 2px;
    overflow-y: scroll;
}
#keyInputText{
    height: 25px;
}
#shiftInputText{
    height: 25px;
}
.message{
    width: 100%;
    margin: 1px;
    height: 100px;
}
.btn{
    margin-left: 1%;
    margin-right: 1%;
    width: 50%
}
.translateBtn{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    width: 100%;
}
.OTPbuttons{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}
.conversions{
    align-items: center;
}
.labelAndErase{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    width: 25%;
    text-decoration: none;
    color: orange;
}
a:hover{
    text-decoration: underline;
}